#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

label {
  display: flex;
  align-items: left;
}
#HeaderForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 35vw;
}
input {
  display: flex;
  align-items: left;
  height: 2em;
  font-size: 1em;
  border-radius: 1em;
  border: none;
  padding-left: 10px;
}
.formItem.addy {
  display: flex;
  flex-direction: column;
}
.formItem.submit {
  display: flex;
  justify-content: center;
  align-items: end;
}

#headSub {
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 2em;
  border-radius: 2em;
}

.header-form,
.edu-form,
.skill-form {
  border: solid 1px black;
}

#eduForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 35vw;
}

.skill-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#workForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 2em;
}

#workForm textarea {
  border: none;
  border-radius: 1.2em;
  padding: 10px;
}
.formItem.work {
  display: flex;
  flex-direction: column;
}

.main-form {
  display: flex;
  flex-direction: column;
}
.header {
  background-color: white;
  color: black;
  display: flex;
  padding: 0 10% 0 10%;
  flex-direction: column;
}
.topPart {
  display: flex;
  height: 5em;
  justify-content: space-between;
  padding-bottom: 0;
}
.header h2 {
  font-size: 2em;
}
.header h3 {
  font-size: 0.9em;
}
.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bottomPart {
  display: flex;
  justify-content: space-between;
}
#divider {
  border: 0.5px solid rgb(77, 77, 77);
  margin: 0 10% 0 10%;
}

.CV {
  background-color: white;
  color: black;
}

.edu {
  padding: 0 10% 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.cvTitle {
  text-align: start;
  padding-left: 10%;
  margin-bottom: 0;
  margin-top: 5px;
}

.edu h4 {
  font-size: 0.8em;
  margin: 0;
}

#eduLeft {
  text-align: start;
}

#eduRight {
  text-align: end;
}

#italic {
  font-style: italic;
  font-weight: 400;
}
.skill {
  padding: 0 10% 0 10%;
  text-align: start;
  font-style: italic;
  font-weight: 400;
  font-size: 0.8em;
}

.formItem.work-submit {
  grid-row: 3/4;
}

.work {
  padding: 0 10% 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
}
.work h4 {
  font-size: 0.8em;
  margin: 0;
  font-weight: 400;
}
#workLeft {
  text-align: start;
  margin: 0;
  padding: 0;
}

#workRight {
  text-align: end;
  height: auto;
  padding: 0;
  margin: 0;
}

#workForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 2em;
}

#responsibilities {
  display: flex;
  flex-direction: column;
  text-align: start;
}
